@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar-link {
    justify-content: center; /* Centraliza ícone quando fechado */
}

.sidebar-link span {
    margin-left: 0; /* Remove margem extra */
}

.banner-swiper .swiper-pagination {
  bottom: 18px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.banner-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,0.35);
  opacity: 1;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.banner-swiper .swiper-pagination-bullet-active {
  width: 24px;
  background: #2563eb;
}